pre {
  background-color: rgb(89, 87, 86);
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-style: bold;
  height: auto;
  left: 20%;
  margin: 10px;
  padding: 5px;
  position: relative;
  top: 200px;
  white-space: pre-wrap;
  width: 60%;
  z-index: 100;
}
#tag {
  color: rgb(255, 147, 141);
}
#att {
  color: rgb(102, 150, 255);
}
#val {
  color: rgb(201, 151, 255);
}
#elm {
  color: rgb(251, 255, 132);
}
#txt {
  color: rgb(0, 0, 0);
}
#com {
  color: rgb(104, 255, 162);
  font-style: italic;
}
