pre {
  background-color: rgb(89, 87, 86);
  height: auto;
  left: 20%;
  margin: 10px;
  padding: 5px;
  position: relative;
  top: 200px;
  white-space: pre-wrap;
  width: 60%;
  z-index: 100;
}
code {
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-style: bold;
}
#html-doc {
  color: rgb(104, 255, 162);
  font-style: italic;
}
#html-com {
  color: rgb(104, 255, 162);
  font-style: italic;
}
#html-tag {
  color: rgb(255, 147, 141);
}
#html-att {
  color: rgb(102, 150, 255);
}
#html-val {
  color: rgb(201, 151, 255);
}
