#pre {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: auto;
  left: 10%;
  margin: 10px;
  padding: 5px;
  position: relative;
  width: 80%;
}
#char {
  color: rgb(143, 56, 78);
}
#tag {
  color: rgb(223, 164, 164);
}
