/*------------------------------------------------------------------------------------*/
/*------------------------------------All Devices-------------------------------------*/
/*------------------------------------------------------------------------------------*/
html{background-color:rgb(40, 40, 45);height:auto;z-index:0;}
body{height:auto;left:0px;margin:0px;position:relative;right:0px;top:0px;width:auto;z-index:20;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
header{left:0px;position:relative;top:0px;width:100%;z-index:21;}
main{background-color:rgb(60, 60, 65);height:auto;left:0px;position:relative;top:0px;width:100%;z-index:21;}
footer{background-color:rgb(220, 220, 220);height:auto;left:0px;position:relative;top:0px;width:100%;z-index:21;}
div{display:inline-block;height:auto;position:relative;top:0px;}
#parallax{background-image:url("https://hovytech.github.io/Images/Background.png");background-position:center 0px;background-repeat:no-repeat;background-size:100% auto;height:100%;left:0px;position:fixed;top:0px;width:100%;z-index:-20;-webkit-filter:blur(5px);-moz-filter:blur(5px);-ms-filter:blur(5px);-o-filter:blur(5px);filter:blur(5px);}
#layer{background-color:rgba(0, 0, 0, 0.4);height:100%;left:0px;opacity:1.0;position:relative;top:0px;width:100%;z-index:22;}
#title-parent{left:0px;position:fixed;top:0px;width:100%;z-index:22;}
#title-child{height:auto;text-align:center;vertical-align:middle;width:auto;z-index:23;}
#paragraph{background-color:rgb(220, 220, 220);left:0px;margin:auto 0px auto 0px;width:100%;z-index:22;}
/*------------------------------------------------------------------------------------*/
/*--------------------------------------Desktop---------------------------------------*/
/*------------------------------------------------------------------------------------*/
@media all and (min-width: 1024px) {
  #intro{color:rgb(220, 220, 220);left:0px;margin:auto 20% auto 20%;width:60%;z-index:22;}
  #section{color:rgb(40, 40, 45);left:0px;margin:auto 20% auto 20%;width:60%;z-index:23;}
  h1{color:rgb(220, 220, 220);font-family:"Arial", Sans-serif;font-size:60px;z-index:24;}
  h2{font-size:40px;z-index:24;}
  p{font-size:25px;text-align:justify;z-index:24;}
}
/*------------------------------------------------------------------------------------*/
/*---------------------------------------Tablet---------------------------------------*/
/*------------------------------------------------------------------------------------*/
@media all and (min-width: 720px) and (max-width: 1023px) {
  #intro{color:rgb(220, 220, 220);left:0px;margin:auto 10% auto 10%;width:80%;z-index:22;}
  #section{color:rgb(40, 40, 45);left:0px;margin:auto 10% auto 10%;width:80%;z-index:23;}
  h1{color:rgb(220, 220, 220);font-family:"Arial", Sans-serif;font-size:55px;z-index:24;}
  h2{font-size:35px;z-index:24;}
  p{font-size:20px;text-align:justify;z-index:24;}
}
/*------------------------------------------------------------------------------------*/
/*--------------------------------------Phablet---------------------------------------*/
/*------------------------------------------------------------------------------------*/
@media all and (min-width: 480px) and (max-width: 719px) {
  #intro{color:rgb(220, 220, 220);left:0px;margin:auto 5% auto 5%;width:90%;z-index:22;}
  #section{color:rgb(40, 40, 45);left:0px;margin:auto 5% auto 5%;width:90%;z-index:23;}
  h1{color:rgb(220, 220, 220);font-family:"Arial", Sans-serif;font-size:35px;z-index:24;}
  h2{font-size:25px;z-index:24;}
  p{font-size:15px;text-align:justify;z-index:24;}
}
/*------------------------------------------------------------------------------------*/
/*---------------------------------------Mobile---------------------------------------*/
/*------------------------------------------------------------------------------------*/
@media all and (max-width: 479px) {
  #intro{color:rgb(220, 220, 220);left:0px;margin:auto 1% auto 1%;width:98%;z-index:22;}
  #section{color:rgb(40, 40, 45);left:0px;margin:auto 1% auto 1%;width:98%;z-index:23;}
  h1{color:rgb(220, 220, 220);font-family:"Arial", Sans-serif;font-size:30px;z-index:24;}
  h2{font-size:25px;z-index:24;}
  p{font-size:15px;text-align:justify;z-index:24;}
}
